<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> Add apartament </h1>
<form name="apartament" action="/new" method="post">
    Surname: <input type="text" name="owner" /><br/>
    Animals: <input type="checkbox" name="allowAnimals" /><br/>
    Address: <input type="text" name="address" /><br/>
    Region: <input type="text" name="region" /><br/>
    <input type="submit" value="Save" />
</form>
</body>
</html>